	
	<main style="transform: none;" class="margin_60_35">
	

		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a >{{'FaQ'|translate}}</a></li>
			
				</ul>
			</div>
		</div>
		<!-- /breadcrumb -->
		<div class="container margin_60" style="transform: none;">
				<div class="content educate_content">

				
				

				<div class="section" *ngFor="let s of allquestiontype">
					<div class="">
						<a [routerLink]="['/Faq',s.id]" class="paper ">
						  <div class="collection ">
							<div class="collection__photo">
								<i class=" icon-help-circled-alt" style="font-size: 50px;"></i>
							  
							</div>
							<div class="faqgroup" >
							  <h3 class=" c__primary">{{s.name}}</h3>
							  <div class="Written">
								<span class="c__darker">
								 {{s.question_num}} {{'articles in this collection'|translate}}
								</span>
								<br>
								{{'Written by'|translate}} 
								<span class="c__darker"> {{s.writer}}</span>
							  </div>
						
				  
							</div>
						  </div>
						</a>
					  </div>

				</div>
			</div>
			
			

				<!-- /col -->
		
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->

	<div id="page-preloader" *ngIf="showSpinner">

		<div id="spinner-three">
		  <div id="inner"></div>
		  <div id="outer"></div>
		</div>
	  
	  </div>