<main class="margin_60_35">

    <div class="bg_color_2">
        <div class="container margin_60_35">
            <div id="login">
                <h1>{{'Please Enter the Code!'|translate}}</h1>
                <div class="box_form">
                    <form  #form="ngForm" (ngSubmit)="submitForm(code)">
                      
                        <div class="form-group">
                            <label>{{'Enter the Code'|translate}}</label>
                            <input #code name="code" type="number" class="form-control" >
                        </div>
                        
                        <div class="form-group text-center add_top_20">
                            <input class="btn_1 medium" value="{{'Submit'|translate}}" type="submit">
                        </div>
                    </form>
                </div>
            </div>
            <!-- /login -->
        </div>
    </div>
</main>
<!-- /main -->


<div id="page-preloader" *ngIf="showSpinner">

    <div id="spinner-three">
      <div id="inner"></div>
      <div id="outer"></div>
    </div>
  
  </div>
