
		<main class="margin_60_35">
			<div class=" margin_120_95 container">
                <div class="main_title">
                    <h2>{{'Rafik in News'|translate}}</h2>
                  
                </div>
				 
                <div class="row">
                    <div class="col-lg-3 col-md-3 col-sm-6" *ngFor="let s of allnews">
                        <div class="box-news">
                            <div class="box-news-image">
                                <a href="{{s.link}}" target="_blank">
                                    <img class="img-responsive" width="100" height="100" src="{{imageURL}}/uploads/news/{{s.image}}" alt="Daily news">
                                </a>
                            </div>
                            
                        </div>
                        <div class="box-news-content">
                            <p class="text-center">
                                <a href="{{s.link}}" target="_blank">
                                   {{s.name}}
                                </a>
                            </p>
                        </div>
                    </div> <!-- End class="col-lg-3 col-md-3 col-sm-6" -->
               
                    
                    
                    
                    
                    
                    
                    
                    
                    
                

                  
                </div>
							</div>
		</main>
							<!-- /box_list -->



                            <div id="page-preloader" *ngIf="showSpinner">

                                <div id="spinner-three">
                                  <div id="inner"></div>
                                  <div id="outer"></div>
                                </div>
                              
                              </div>