	
	<main class="margin_60_35">
		<div id="breadcrumb">
			<div class="container">
				<ul>
					<li><a >{{'Blog'|translate}}</a></li>
				
				</ul>
			</div>
		</div>
		<!-- /breadcrumb -->
		
		<div class="container margin_60">
			<div class="row">
				<div class="col-lg-9">
					<div class="bloglist singlepost">
						<p><img alt="" class="img-fluid" src="{{imageURL}}/uploads/posts/{{posts?.image}}"></p>
						<h1>{{posts?.title}}</h1>
					
						<div class="post-content">
							
								<p>{{posts?.description}}</p>
						
<p>{{posts?.details}}</p>
						</div>
						<!-- /post -->
					</div>
					<!-- /single-post -->

					
				

					
				</div>
				<!-- /col -->
				
				<aside class="col-lg-3">
		
					<div class="widget">
						<div class="widget-title">
							<h4>{{'Recent Posts'|translate}}</h4>
						</div>
						<ul class="comments-list" *ngFor="let s of recent_posts">
							<li>
								<div class="alignleft">
									<img src="{{imageURL}}/uploads/posts/{{s.image}}" alt="">
								</div>
								<small>{{s.created_at}}</small>
								<h3>{{s.title}}</h3>
							</li>
						
						
						</ul>
					</div>
					<!-- /widget -->

					<div class="widget">
						<div class="widget-title">
							<h4>{{'Blog Categories'|translate}}</h4>
						</div>
						<ul class="cats" *ngFor="let s of category">
							<li><a [routerLink]="['/postscategory',s.id]">{{s.name}} <span>({{s.count}})</span></a></li>
						   
						</ul>
					</div>
					<!-- /widget -->

				
				</aside>
				<!-- /aside -->
			</div>
			<!-- /row -->
		</div>
		<!-- /container -->
	</main>
	<!-- /main -->
	<div id="page-preloader" *ngIf="showSpinner">

		<div id="spinner-three">
		  <div id="inner"></div>
		  <div id="outer"></div>
		</div>
	  
	  </div>
	  <!-- /// !Preloader -->
	  