/*problems*/

.card-box-shadow {
    box-shadow: 3px 5px 16.2px 1.8px rgba(0, 0, 0, 0.11);
}
.specialty
{
    margin-bottom: 20px;
}
.specialty-image img {
    width: 100%;
    max-height: 280px;
    height:280px;
    border-radius: 4px;
    position: relative;
}
.specialty-name
{
    width:95%;
    height:280px;
    position: absolute;
    top:0px;
    border-radius: 4px;

   background-color: rgba(0, 0, 0, 0.5);
}
.specialty-name h3{
    margin-top: 120px;
    color: white;

}
@media(max-width:1164px) and (min-width:990px)
{
    .specialty-name
{
    width:93%;
    height:280px;
    position: absolute;
    top:0px;
    border-radius: 4px;

   background-color: rgba(0, 0, 0, 0.5);
}
}



@media(max-width:989px) and (min-width:770px)
{
    .specialty-name
{
    width:90%;
    height:280px;
    position: absolute;
    top:0px;
    border-radius: 4px;

   background-color: rgba(0, 0, 0, 0.5);
}

}

@media(max-width:766px) and (min-width:480px)
{
    .specialty-name
{
    width:94%;
    height:280px;
    position: absolute;
    top:0px;
    border-radius: 4px;

   background-color: rgba(0, 0, 0, 0.5);
}

}



@media(max-width:479px) and (min-width:395px)
{
    .specialty-name
{
    width:93%;
    height:280px;
    position: absolute;
    top:0px;
    border-radius: 4px;

   background-color: rgba(0, 0, 0, 0.5);
}

}

@media(max-width:394px) and (min-width:1px)
{
    .specialty-name
{
    width:92%;
    height:280px;
    position: absolute;
    top:0px;
    border-radius: 4px;

   background-color: rgba(0, 0, 0, 0.5);
}

}



/*end-of-problems*/
.btn-test
{
    background-color: #82004a;
    color: white;
}


.vodafone

{
  list-style: circle;
  padding: 10px;
}
/* -----------------------------------------------------------------------------------

                                       PRELOADER

----------------------------------------------------------------------------------- */

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100500;
  }
  /* -----------------------------------------------------------------------------------
  
                                         /// PRELOADER
                                         
  ----------------------------------------------------------------------------------- */
  /* -----------------------------------------------------------------------------------
  
                                          SPINNER
                                         
  ----------------------------------------------------------------------------------- */
  [id*="spinner-"] {
    width: 6em;
    height: 6em;
    margin: 20px auto;
  }
  /*
   * Spinner three
   */
  
  #spinner-three {
    width: 6em;
    height: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -3em 0 0 -3em;
  }
  #spinner-three #inner,
  #spinner-three #outer {
    display: inline-block;
    position: absolute;
    border: 5px solid transparent;
  }
  #spinner-three #inner {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin: 1.5em 0 0 1.5em;
    border-color: #82004a #82004a transparent transparent;
    -webkit-animation: spinnertwo 1000ms linear infinite;
    -moz-animation: spinnertwo 1000ms linear infinite;
    -ms-animation: spinnertwo 1000ms linear infinite;
    -o-animation: spinnertwo 1000ms linear infinite;
    animation: spinnertwo 1000ms linear infinite;
  }
  #spinner-three #outer {
    width: 6em;
    height: 6em;
    border-radius: 6em;
    border-color: transparent transparent #82004a #82004a;
    -webkit-animation: spinnerone 1000ms linear infinite;
    -moz-animation: spinnerone 1000ms linear infinite;
    -ms-animation: spinnerone 1000ms linear infinite;
    -o-animation: spinnerone 1000ms linear infinite;
    animation: spinnerone 1000ms linear infinite;
  }
  /*
   * Animations
   */
  
  /*
   * Spinnerone animation
   */
  
  @-webkit-keyframes spinnerone {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spinnerone {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  /*
   * Spinnertwo animation
   */
  
  @-webkit-keyframes spinnertwo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinnertwo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* -----------------------------------------------------------------------------------
  
                                         /// SPINNER
                                         
  ----------------------------------------------------------------------------------- */
  
  