.qu-box {
    border-radius: 4px;
    background-color: white;
    box-shadow: 3px 5px 16.2px 1.8px rgba(0, 0, 0, 0.11);
    padding: 20px;
    margin: 50px 0;
}

.question {
    font-size: 24px;
    margin: 15px 0;
    color: #1F90CF;
    font-family: 'Din Next Regular';
}
.answers {
    margin: 15px 0;
    font-family: 'Din Next Regular';
}

.orange-btn.btn-next {
    font-size: 16px;
    padding-left: 30px;
    padding-right: 30px;
    line-height: 35px;
    margin-right: 5px;
}

button.orange-btn {
    font-size: 16px;
    color: white;
    display: inline-block;
    border: none;
    background-color: #16a9ff;
    border-radius: 4px;
    line-height: 50px;
    padding-left: 45px;
    padding-right: 45px;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
    font-family: 'Din Next Regular';
    cursor: pointer;
}

input[type="radio"] + label {
    color: #333;
    font-size: 18px;
    cursor: pointer;
   
    display: inline-flex;
}
.answers-list label {
    font-weight: 500;
    
}
.answers-list
{
    margin-top:8px;
    margin-bottom:8px;
    

}

.mat-progress-bar-fill::after {
    background-color: #16a9ff!important;
}



/* -----------------------------------------------------------------------------------

                                       PRELOADER

----------------------------------------------------------------------------------- */

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100500;
  }
  /* -----------------------------------------------------------------------------------
  
                                         /// PRELOADER
                                         
  ----------------------------------------------------------------------------------- */
  /* -----------------------------------------------------------------------------------
  
                                          SPINNER
                                         
  ----------------------------------------------------------------------------------- */
  [id*="spinner-"] {
    width: 6em;
    height: 6em;
    margin: 20px auto;
  }
  /*
   * Spinner three
   */
  
  #spinner-three {
    width: 6em;
    height: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -3em 0 0 -3em;
  }
  #spinner-three #inner,
  #spinner-three #outer {
    display: inline-block;
    position: absolute;
    border: 5px solid transparent;
  }
  #spinner-three #inner {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin: 1.5em 0 0 1.5em;
    border-color: #82004a #82004a transparent transparent;
    -webkit-animation: spinnertwo 1000ms linear infinite;
    -moz-animation: spinnertwo 1000ms linear infinite;
    -ms-animation: spinnertwo 1000ms linear infinite;
    -o-animation: spinnertwo 1000ms linear infinite;
    animation: spinnertwo 1000ms linear infinite;
  }
  #spinner-three #outer {
    width: 6em;
    height: 6em;
    border-radius: 6em;
    border-color: transparent transparent #82004a #82004a;
    -webkit-animation: spinnerone 1000ms linear infinite;
    -moz-animation: spinnerone 1000ms linear infinite;
    -ms-animation: spinnerone 1000ms linear infinite;
    -o-animation: spinnerone 1000ms linear infinite;
    animation: spinnerone 1000ms linear infinite;
  }
  /*
   * Animations
   */
  
  /*
   * Spinnerone animation
   */
  
  @-webkit-keyframes spinnerone {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spinnerone {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  /*
   * Spinnertwo animation
   */
  
  @-webkit-keyframes spinnertwo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinnertwo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* -----------------------------------------------------------------------------------
  
                                         /// SPINNER
                                         
  ----------------------------------------------------------------------------------- */
  
  