<main class="margin_60_35">

    <div id="breadcrumb">
        <div class="container">
            <ul>
                <li><a href="#">{{'Review page'|translate}}</a></li>
             
            </ul>
        </div>
    </div>
    <!-- /breadcrumb -->

    <div class="container margin_60_35">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <form  #form="ngForm" (ngSubmit)="submitform(comment)">

                <div class="box_general_3 write_review">
                    <h1>{{'Write a review'|translate}}</h1>
                    <div class="rating_submit">
                        <div class="form-group">
                      
                        <rating  [max]="max" [readonly]="isReadonly"
                        (onHover)="hoveringOver($event)"
                        [titles]="['one','two','three']" style="font-size: 20px;"></rating>
 

            
                 
              
                
                        
                        </div>
                    </div>
                  
                    <div class="form-group">
                        <label>{{'Your review'|translate}}</label>
                        <textarea class="form-control" style="height: 180px;" #comment name="comment"  placeholder="{{'Write your review here ...'|translate}}"></textarea>
                    </div>
              
                 
                   <button  class="btn_1" type="submit" >{{'Submit'|translate}}</button>
                </div>
                </form>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</main>
<!-- /main -->

          <!-- !Preloader -->
          <div id="page-preloader" *ngIf="showSpinner">

            <div id="spinner-three">
              <div id="inner"></div>
              <div id="outer"></div>
            </div>
          
          </div>
    