.content {
    max-width: 100%;
    width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.section {
    padding-top: 26px;
}
.paper {
    background-color: white;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 30px;
    position: relative;
    z-index: 3;
    text-decoration: none;
    width: 100%;
    display: block;
    outline: none;
    box-shadow: 0 3px 8px 0 rgba(0,0,0,0.03);}
    .paper:hover
    {
        border: 1px solid rgba(136,149,162,0.2);
        background-color: #fcfcfc;

    }
.collection {
    position: relative;
    padding-left: 150px;
}
.collection__photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 120px;
    height: 100%;
}

.collection__photo i {
    position: relative;

    left: 50%;
    margin: -24px 0 0 -24px;
    color: #818a97;
}

.c__primary {
    color: #82004a;
}
.paper__preview {
    margin: 5px 0 11px;
    text-decoration: none;
    display: block;
    max-width: 630px;
    line-height: 1.4;
    color: #818a97;

}
.Written
{
    color: #818a97;
    padding-left: 10px;


}

.c__darker {
    color: #4f5e6b;
}



/* -----------------------------------------------------------------------------------

                                       PRELOADER

----------------------------------------------------------------------------------- */

#page-preloader {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100500;
  }
  /* -----------------------------------------------------------------------------------
  
                                         /// PRELOADER
                                         
  ----------------------------------------------------------------------------------- */
  /* -----------------------------------------------------------------------------------
  
                                          SPINNER
                                         
  ----------------------------------------------------------------------------------- */
  [id*="spinner-"] {
    width: 6em;
    height: 6em;
    margin: 20px auto;
  }
  /*
   * Spinner three
   */
  
  #spinner-three {
    width: 6em;
    height: 6em;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -3em 0 0 -3em;
  }
  #spinner-three #inner,
  #spinner-three #outer {
    display: inline-block;
    position: absolute;
    border: 5px solid transparent;
  }
  #spinner-three #inner {
    width: 3em;
    height: 3em;
    border-radius: 3em;
    margin: 1.5em 0 0 1.5em;
    border-color: #82004a #82004a transparent transparent;
    -webkit-animation: spinnertwo 1000ms linear infinite;
    -moz-animation: spinnertwo 1000ms linear infinite;
    -ms-animation: spinnertwo 1000ms linear infinite;
    -o-animation: spinnertwo 1000ms linear infinite;
    animation: spinnertwo 1000ms linear infinite;
  }
  #spinner-three #outer {
    width: 6em;
    height: 6em;
    border-radius: 6em;
    border-color: transparent transparent #82004a #82004a;
    -webkit-animation: spinnerone 1000ms linear infinite;
    -moz-animation: spinnerone 1000ms linear infinite;
    -ms-animation: spinnerone 1000ms linear infinite;
    -o-animation: spinnerone 1000ms linear infinite;
    animation: spinnerone 1000ms linear infinite;
  }
  /*
   * Animations
   */
  
  /*
   * Spinnerone animation
   */
  
  @-webkit-keyframes spinnerone {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  @keyframes spinnerone {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(-360deg);
      transform: rotate(-360deg);
    }
  }
  /*
   * Spinnertwo animation
   */
  
  @-webkit-keyframes spinnertwo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes spinnertwo {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  /* -----------------------------------------------------------------------------------
  
                                         /// SPINNER
                                         
  ----------------------------------------------------------------------------------- */
  