/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
@import "../node_modules/angular-calendar/css/angular-calendar.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*work-chance*/

.content-chance
{
    margin-bottom: 50px;
}
.chancee
{
    margin-top: 60px;
    margin-bottom: 0px;
    
}
/*accordion_dynamic*/
.customClass
{
 background:#f6f6f6;
    
 color: #8d8d8d;
  text-align: right;
  text-decoration: none;


}

accordion-group>.panel>.panel-heading
{
    transition: all .4s ease-in-out;
    background-color: #82004a;
    color: white;
}
.panel-heading
{
    color: white;

}

accordion-group>.panel>.panel-heading:hover
{
padding-left: 30px;
 transition: all .4s ease-in-out; 
}

.content-acc
{
    color: #212529;

}

.content-jop
{
    color: #424a4c;
        margin-right: 40px;

}
/*end_of_accordion_dynamic*/

.dropdown-menu
{
    transform: translate3d(0px, 0px, 0px)!important;
    top:25px!important;
}
.mat-horizontal-stepper-header-container
{
    display: none!important;
}
ul#top_access li i
{
    margin-top: 8px;
}



#page
{
  position: relative;
}

.test

{
  position: absolute;
  left:-320px!important;
  top: 0;
}

  /*end of chat*/
  
  
  
  