.primary-btn {
    color: white;
    border: none;
    background-color: #82004a;
    border-radius: 4px;
    padding: 8px 25px;
    box-shadow: 3px 5px 16.2px 1.8px rgba(0, 0, 0, 0.11);
    display: inline-block;
    margin-right: 5px
}


#background-preview {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  #preview {
    left: 50%;
    top: 50%;
    position: relative;
    transform: translate3d(-50%, -50%, 0);
    background: rgba(black, 0.6);
    padding: 1rem;
    border: 1px solid white;
    float: left;
  }
  #preview input {
    display: none;
  }
  #preview label {
      padding: 0.7rem 1rem;
      font-size: 0.8rem;
   
      display: block;
      margin-top: 1rem;
      text-align: center;
      cursor: pointer;
         color: white;
      border: none;
      background-color: #82004a;
      border-radius: 4px;
      box-shadow: 3px 5px 16.2px 1.8px rgba(0, 0, 0, 0.11);
      text-align: center;

  
    }

    
/* -----------------------------------------------------------------------------------

                                       PRELOADER

----------------------------------------------------------------------------------- */

#page-preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100500;
}
/* -----------------------------------------------------------------------------------

                                       /// PRELOADER
                                       
----------------------------------------------------------------------------------- */
/* -----------------------------------------------------------------------------------

                                        SPINNER
                                       
----------------------------------------------------------------------------------- */
[id*="spinner-"] {
  width: 6em;
  height: 6em;
  margin: 20px auto;
}
/*
 * Spinner three
 */

#spinner-three {
  width: 6em;
  height: 6em;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -3em 0 0 -3em;
}
#spinner-three #inner,
#spinner-three #outer {
  display: inline-block;
  position: absolute;
  border: 5px solid transparent;
}
#spinner-three #inner {
  width: 3em;
  height: 3em;
  border-radius: 3em;
  margin: 1.5em 0 0 1.5em;
  border-color: #82004a #82004a transparent transparent;
  -webkit-animation: spinnertwo 1000ms linear infinite;
  -moz-animation: spinnertwo 1000ms linear infinite;
  -ms-animation: spinnertwo 1000ms linear infinite;
  -o-animation: spinnertwo 1000ms linear infinite;
  animation: spinnertwo 1000ms linear infinite;
}
#spinner-three #outer {
  width: 6em;
  height: 6em;
  border-radius: 6em;
  border-color: transparent transparent #82004a #82004a;
  -webkit-animation: spinnerone 1000ms linear infinite;
  -moz-animation: spinnerone 1000ms linear infinite;
  -ms-animation: spinnerone 1000ms linear infinite;
  -o-animation: spinnerone 1000ms linear infinite;
  animation: spinnerone 1000ms linear infinite;
}
/*
 * Animations
 */

/*
 * Spinnerone animation
 */

@-webkit-keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
@keyframes spinnerone {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg);
  }
}
/*
 * Spinnertwo animation
 */

@-webkit-keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes spinnertwo {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
/* -----------------------------------------------------------------------------------

                                       /// SPINNER
                                       
----------------------------------------------------------------------------------- */
